{% extends 'base.html' %}

{% block title %}PJEP{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
    <div class="section">
        <h3>Journal</h3>
    </div>
    <div class="section">
        <h3>Plannings</h3>
        <div class="plannings">
            <div class="subsection">
                <div class="subtitle">Semaines</div>
            </div>
            <div class="subsection">
                <div class="subtitle">Vacances</div>
            </div>
            <section class="subsection">
                <div class="subtitle">Bilans</div>
            </div>
        </div>
    </div>
{% endblock %}