<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PJEP</title>
    </head>
    <body>
        <nav>
            <div class="nav-el">
                <a href="">Activités disponibles</a>
            </div>
        </nav>
        <main>
            <div class="section">
                <div class="title">Journal</div>
            </div>
            <div class="section">
                <div class="title">Plannings</div>
                <div class="subsection">
                    <div class="subtitle">Semaines</div>
                </div>
                <div class="subsection">
                    <div class="subtitle">Vacances</div>
                </div>
                <section class="subsection">
                    <div class="subtitle">Bilans</div>
                </div>
            </div>
        </main>
    </body>
</html>