{% extends 'base.html' %}

{% block title %}Sign UP - PJEP{% endblock %}

{% block content %}
    <div class="d-flex flex-column w-75">
        <h3 class="text-center">Se connecter</h3>
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <p class="text-center">Connectez-vous ici !</p>
            <div class="form-fields">
                <div class="form-floating mb-3">
                    {% if form.username.errors %}
                        {{ form.username(id='username', class='form-control is-invalid') }}
                        <div>
                            {% for error in form.username.errors %}
                                <div class="text-danger-emphasis">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(id='username', class='form-control') }}
                    {% endif %}
                    <label class="form-label" for="username">{{ form.username.label }}</label>
                </div>
                <div class="mb-3 form-floating">
                    {% if form.password.errors %}
                        {{ form.password(id='password', class='form-control is-invalid') }}
                        <div>
                            {% for error in form.password.errors %}
                            <div class="text-danger-emphasis">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(id='password', class='form-control') }}
                    {% endif %}
                    <label class="form-label" for="password">{{ form.password.label }}</label>
                </div>
                <div class="submit w-100">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
        <div class="account-exists-or-not">
            <small>
                Vous n'avez pas de compte ? <a href="{{ url_for('signup') }}" class="hover-effect">Enregistrez-vous</a>
            </small>
        </div>
    </div>
{% endblock %}