{% extends 'base.html' %}

{% block title %}Sign UP - PJEP{% endblock %}

{% block content %}
    <div class="d-flex flex-column w-75">
        <h3 class="text-center">Créer un compte</h3>
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <p class="text-center">Vous n'avez pas de compte ? Enregistrez-vous !</p>
            <div class="form-fields">
                <div class="form-floating mb-3">
                    {% if form.username.errors %}
                        {{ form.username(id='username', class='form-control is-invalid') }}
                        <div>
                            {% for error in form.username.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(id='username', class='form-control') }}
                    {% endif %}
                    <label class="form-label" for="username">{{ form.username.label }}</label>
                </div>
                <div class="mb-3 form-floating">
                    {% if form.password.errors %}
                        {{ form.password(id='password', class='form-control is-invalid') }}
                        <div>
                            {% for error in form.password.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(id='password', class='form-control') }}
                    {% endif %}
                    <label class="form-label" for="password">{{ form.password.label }}</label>
                </div>
                <div class="mb-3 form-floating">
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(id='confirm-password', class='form-control is-invalid') }}
                        <div>
                            {% for error in form.confirm_password.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(id='confirm-password', class='form-control') }}
                    {% endif %}
                    <label class="form-label" for="confirm-password">{{ form.confirm_password.label }}</label>
                </div>
                <div class="form-floating mb-3">
                    {% if form.master_pwd.errors %}
                        {{ form.master_pwd(id='master-pwd', class='form-control is-invalid') }}
                        <div>
                            {% for error in form.master_pwd.errors %}
                                <div class="text-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.master_pwd(id='master-pwd', class='form-control') }}
                    {% endif %}
                    <label class="form-label" for="master-pwd">{{ form.master_pwd.label }}</label>
                </div>
                <div class="submit w-100">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
        <div class="account-exists-or-not">
            <small>
                Vous avez déjà un compte ? <a href="{{ url_for('login') }}" class="hover-effect">Connectez-vous</a>
            </small>
        </div>
    </div>
{% endblock %}